<h1>Welcome to Project Managament App</h1>

<% if @projects.any? %>
  <p>Click on the project to see more information about it:</p>

    <h5><% @projects.each do |project| %>
    <a href="/projects/new/<%= project.id() %>"><li><%= project.title() %></li></a>
    <% end %>

    <% else %>
  <p>There are no projects added yet!</p>
<% end %></h5>

<h2>Create a new project</h2>
<form action="/projects/new" method="post">
  <label for="title">Let's make a project</label>
  <input name="title" type="text" placeholder="....project">
  <button type="submit">Create Project</button>
</form>

<!-- <p><a href="/">Return to Main Page</a></p> -->
